body {
	background-color: #ECF3FD;
	background-image: url(../images/logos/watermark.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.conteiner {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 85%;
}

.ui-state-default .icon-login {
	background-image: url(../images/icons/icon/user.png);
}

.ui-state-default .icon-empresa {
	background-image: url(../images/logos/logo.png);
}